{% if page.title == "Home"
or page.title == "Blog"
or page.title == "Projects"
or page.title == "Tags"
%}
{% assign showHeader = true %}
{% endif %}

{% if showHeader == true %}
<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if site.about %}
    <a class="link" href="{{ site.url }}/about">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </a>
    {% else %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </span>
    {% endif %}

    <img src="/assets/logo.png">
<!-- 
    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2> 
-->

    {% include social-links.html %}
</header>
{% endif %}

<body>
    <p>Desde 2018 atuo em parceria com marcas que querem se destacar no meio digital. Possuo atualmente um público de
        15 mil seguidores com alto engajamento, onde dou dicas sobre gastronomia, viagens e body positive.
        <br><br>
        Já realizei diversas parcias com diversas empresas da região, entre elas estão: Bullguer, Bob's, Lo.La Cocina
        Latina, Let's Eat, Gross Burguer, Detroit SteakHouse, Open Tap, Companhia União, Skol, entre outras
        <br><br>
        Veja mais informações no meu Midia Kit 
            <a href="https://drive.google.com/file/d/1EA8S54mTtR53pUAxHAuQPlKTm7off8dI/view">clicando aqui</a>.
        <br>
        <br>
        Confira um pouco do meu portfólio disponível nos highlights da minha página no Instagram.
        <blockquote class="embedly-card" data-card-controls="0">
            <h4><a href="http://instagram.com/kelmoraees">Raquel Moraes (@kelmoraees) * Instagram photos and videos</a></h4>
            <p>15.5k Followers, 4,918 Following, 199 Posts - See Instagram photos and videos from Raquel Moraes
                (@kelmoraees)</p>
        </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </p>
</body>


