{% if page.title == "Home"
or page.title == "Blog"
or page.title == "Projects"
or page.title == "Tags"
%}
{% assign showHeader = true %}
{% endif %}

{% if showHeader == true %}
<header class="header-home {% if site.animation %}animated{% endif %}">
    {% if site.about %}
    <a class="link" href="{{ site.url }}/about">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </a>
    {% else %}
    <span class="link">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </span>
    {% endif %}

    <img src="/assets/logo.png">
    <!-- 
    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2> 
-->

    {% include social-links.html %}
</header>
{% endif %}

<body>
    <p class="justifica">
        A criadora de conteúdo digital Raquel Moraes, atua desde 2018 no ramo do marketing digital, proporcionando aos
        seus clientes o melhor resultado digital. Com um público de mais de quinze mil seguidores assíduos, em seu
        perfil pode-se encontrar dicas sobre gastronomia, viagens e body positive.
        <br><br>
        Raquel inclusive já realizou parcerias de sucesso com: Bob's, Skol, Bullguer, Companhia União, Lola Cocina
        Latina, Detroit SteakHouse, Let's Eat, Open Tap, e muitas outras marcas que apostaram em seu trabalho para se
        desenvolverem no mundo digital por meio do marketing de influência.
        <br><br>
        Para maiores informações sobre o perfil do público de Raquel e acesso o Mídia Kit, entre em contato.
    </p>
    <p class="centraliza">
        
        <!-- Assista um pouco do trabalho de Raquel acessando seu perfil no Instagram, e conferindo seu portfólio disponível
        nos HighLights do perfil. -->
        Nos vemos no instagram. 💋
        <br><br>
        <iframe src="https://www.instagram.com/p/BvhtF7RFRvu/embed" allowtransparency="true"
            frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:600px"></iframe>
        <!-- <div style="font:10px/14px 'Roboto','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:400;width:555px;text-align:right">
           </div> -->

    </p>
</body>
