{% if page.title == "Home"
or page.title == "Blog"
or page.title == "Tags"
or page.title == "Cuidados"
or page.title == "Projects"
%}
{% assign showHeader = true %}
{% endif %}

{% if showHeader == true %}
<header class="header-home {% if site.animation %}animated{% endif %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <a class="link" href="{{ site.url }}/#">
    <img class="selfie" alt="{{ site.name }}"
        src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </a>
    {% include social-links.html %}
</header>
{% endif %}

