<div class="social-links">
    {% if site.instagram %}
    <a title="instagram" class="link" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}"
        target="_blank">
        <svg class="icon icon-instagram">
            <use xlink:href="#icon-instagram"></use>
        </svg>
    </a>
    {% endif %}

    {% if site.whatsapp %}
    <a title="whatsapp" class="link" data-title="{{ site.whatsapp }}" href="https://api.whatsapp.com/send?phone=5511973689886">
        <svg class="icon icon-whatsapp">
            <use xlink:href="#icon-whatsapp"></use>
        </svg>
    </a>
    {% endif %}

    <!-- {% if site.email %}
    <a title="e-mail" class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
        <svg class="icon icon-mail">
            <use xlink:href="#icon-mail"></use>
        </svg>
    </a>
    {% endif %} -->
</div>
